<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= topic.title %></h1>
      <a href="/topics/<%= topic.id %>/edit" class="btn btn-warning">Edit</a>
      <a href="/topics/<%= topic.id %>/posts/new" class="btn btn-success">New Post</a>
      <form
        style="display:initial"
        action="/topics/<%= topic.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

      <p><%= topic.description %></p>
      <hr>

      <h1>Posts</h1>

      <ul class="list-group">
        <% topic.posts.forEach((post) => { %>
        <li class="list-group-item">
          <a href="/topics/<%= topic.id %>/posts/<%= post.id %>">
            <%= post.title %>
          </a>
        </li>
        <% }) %>
      </ul>
    </hr>
      </main>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
