<div class="pull-left" style="width: 40px;text-align: center;">
  <div>
    <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/votes/upvote"
      >&#9650;</a
    >
  </div>
  <b><%= post.getPoints() %></b>
  <div>
    <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/votes/downvote"
      >&#9660;</a
    >
  </div>
</div>
